*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    padding: 0px 0px;
}
header .title{
    padding:30px 0px 30px 30px ;
     background: rgb(253, 220, 2);
}
header .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     background: rgb(253, 220, 2);
     padding: 30px;

}
header .container .details{
    padding: 40px 0 0px 0;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 65px;
}
header .container .details h1{
    font-size: 110px;
    line-height: 100px;
}
header .container .details p{
    font-size: 26px;
}
header .container .details a{
    border: none;
    background: rgb(249, 5, 119);
    width: 80px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 11px;
    border-radius: 20px;
}
header .conainter .logo{
    position: relative;
}
header .container .logo img{
    position: absolute;
    height: 133%;
    width: 48%;
    border-radius: 25px;
    top: 90px;
}
header .container-menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
header .container-menu .menu{
    background: rgb(169, 169, 169);
    grid-column: 1/2;
    padding: 16px 0px;
}
header .container-menu .menu ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
header .container-menu .menu ul a{
    font-family: monospace;
    text-decoration: none;
    font-size: 18px;
    font-weight:900;
    color: black;
    letter-spacing: -0.5px;
}
main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 90px 0px 90px 0px;
    gap: 30px;
    background: rgb(238, 236, 236);
}
main .container_card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 90px 0px 90px 30px;

}
main .container_card .card{
    background: white;
    border-radius: 20px 20px 10px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;


}
main .container_card .card h5{

    margin: auto auto;
}
main .container_card .card img{
    width: 100%;
    height: 85%;
}
main .container_description{
    padding: 30px 0;
    position: relative;
    
    }
main .container_description .shadow{
    position: absolute;
    font-size: 120px;
    letter-spacing: 3px;
    font-weight:400;
    top: -10px;
    color: rgb(222, 220, 220);
    z-index: 1;
}
main .container_description .title{
    font-size: 70px;
    position: relative;
    z-index: 2;
}
main .container_description hr{
    width: 40px;
    color: rgb(253, 220, 2);
    height: 5px;
    background: rgb(253, 220, 2);
    margin: 10px 0;
}
main .container_description .text-short{
    color: rgb(136, 131, 131);
    margin: 50px 0;
}
main .container_description span{
    font-size: 40px;
    color: rgb(253, 220, 2);
    font-weight:bold;
    padding: 40px 20px;
}
main .container_description .text-large{
    color: rgb(134, 134, 134);
    line-height: 20px;
    padding: 20px 0;
}
main .container_description .card{
    display: flex;
    gap: 15px;
}
main .container_description .card .image img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    gap: 10px;
}
main .container_description .card .information{
    margin: auto 0;
}
main .container_products{
    background: rgb(234, 215, 89);
    grid-column: 1/3;
    width: 100%;
    justify-items: center; 
    text-align: center;   
}
main .container_products .title{
    position: relative;
    height: 70px;
    margin: auto;
}
main .container_products .products{
    color: white;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translate(-50%, -50%);   
    font-size: 50px;
}
main .container_products .slider-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 92%;
}

main .container_products .slider{
    justify-content: center;
    justify-items: center;
    overflow: hidden;
    width: 60%;
}
main .container_products .slider .image-track {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  gap: 100px;
  width: 100%;
}

main .container_products .slider .image-track img {
  width: 140px; /* 4 imágenes visibles */
  height: 140px;

}
button.prev, button.next {
  background-color: #333;
  color: white;
  border: none;
  padding: 4px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 50%;
  z-index: 1;
  background: rgb(190, 0, 0);
}
button.prev:hover, button.next:hover {
  background-color: #555;
}
main .container_products .btn-catalog{
    background: rgb(190, 0, 0);
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 40px;
}

main .container_products .products-detail{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 60px 0px 60px 220px;
    width: 68%;
    text-align: start;
    

}
main .container_products .products-detail .description{
    color: white;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: end;
    justify-items: end;
    padding: 0px 0px 0px 0px;
}
main .container_products .products-detail .description h1{
    text-shadow: 2px 4px 4px rgb(23, 23, 23);
    font-size: 55px;
}
main .container_products .products-detail .description .btn-comprar{
    background: rgb(190, 0, 0);
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 40px;
}
main .container_products .products-detail .buss img{
    width: 400px;
    height: 250px;
    position: absolute;
    right: 0px;
}


main .container_novedades h1{
    text-align: center;
    font-size: 63px;
    color: rgb(190, 0, 0);
}

main .container_novedades .slider-container {
  position: relative;
  width: 70%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

main .container_novedades .slider {
  overflow: hidden;
  width: 100%;
}

main .container_novedades .aside-track {
  display: flex;
  transition: transform 0.5s ease;
  gap: 12px;
  text-align: center;
}

main .container_novedades  .aside-track aside {
  min-width: calc(97% / 3); /* Muestra 3 elementos */
  box-sizing: border-box;
  justify-items: center;
}
main .container_novedades  .aside-track aside p{
    font-size: 12px;
    color: rgb(203, 77, 77);
}
main .container_novedades  .aside-track aside img{
    width: 100%;
    border-radius: 7px;
    height: 250px;
}

main .container_novedades .slider-btn {
  position: absolute;
  bottom: 100px;
  background-color: rgb(190, 0, 0);
  color: white;
  border: none;
  padding: 7px;
  z-index: 1;
  cursor: pointer;
  font-size: 18px;
}

main .container_novedades .slider-btn.prev {
  left: 15px;
}

main .container_novedades .slider-btn.next {
  right: 15px;
}





main .container_novedades{
    grid-column: 1/3;
    justify-items: center;
    color: rgb(190, 0, 0);
    
}
main .container_novedades .description{
    display: grid;
    grid-template-columns: repeat(3,300px);
    

}
main .container_novedades .description aside img{
    width: 95%;
    height: 180px;


}
footer{
    background: rgb(253, 220, 2);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 100px 30px;
    gap: 250px;
}
footer div span{
    font-size: 13px;
    color: rgb(156, 154, 154);
}
footer div p{
    font-size: 18px;
    font-weight: 300;
}


@media (max-width:540px){
header .title{
     justify-items: center;
     padding:30px 0px 0px 0px ;
     font-size: 30px;
}
header .container{
     justify-content: center;
     justify-items: center;
     padding-bottom: 170px;


}
header .container .details{
    grid-column: 1/3;
    gap: 50px;
    align-items: center;
    padding: 10px 0px;
}
header .container .details h1{
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    line-height: 70px;
}
header .container .details a{
    font-size: 20px;
    padding: 20px 30px;
    width: 120px;
    border-radius: 30px;

}
header .container .details p{
    text-align: center;
}
header .conainter .logo{
    position: relative;
    grid-column: 1/3;
}
header .container .logo img{
    position: absolute;
    height: 95%;
    width: 95%;
    border-radius: 25px;
    top: 110%;
    left: 12px;
}
header .container-menu{
    display: relative;
    margin-top: 465px;
    background: rgb(253, 220, 2);
}

header .container-menu .tapbar {
    padding: 20px;
    width: 50px;
    height: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    cursor: pointer;
}
header .container-menu .tapbar span {
  height: 4px;
  background: #333;
  border-radius: 2px;
  font-size: 10px;
  font-weight: bold;
}
header .container-menu  .menu {
      display: none;
      position: absolute;
      left: 20px;
      background: rgb(253, 220, 2);
      border: 1px solid rgb(253, 220, 2);
      box-shadow: 0 2px 10px rgba(0,0,0,0.2);
      padding: 15px;
      width: 200px;
      z-index: 100;
    }

    header .container-menu  .menu ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    header .container-menu  .menu li {
      padding: 10px;
      cursor: pointer;
    }

    header .container-menu  .menu li:hover {
      background: rgb(156, 135, 2);
    }

header .container-menu .menu.show {
        display: block;

    }





main{

    padding: 3px 0px;
    gap: 20px;
}
main .container_card{
    grid-column: 1/3;
    gap: 20px;
    padding: 10px;

}
main .container_card .card{
    grid-column: 1/3;
}
main .container_description{
    padding: 10px 0px;
    justify-items: center;
    grid-column: 1/3;
    text-align: center;
}
main .container_description hr{
    margin: 0 auto;
}
main .container_description .shadow{
    display: none;
}
main .container_description .title{
    font-size: 40px;
    text-align: center;
}
main .container_description .text-short{
    color: rgb(136, 131, 131);
    margin: 50px 10px;
    text-align: center;
}
main .container_description .text-large{
    color: rgb(46, 46, 46);
    line-height: 20px;
    padding: 20px 0;
    text-align: center;
}
main .container_description .card{
    display: flex;
    gap: 15px;

    justify-content: center;
}
main .container_description .card .image img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    gap: 10px;
}
main .container_description .card .information{
    margin: auto 0;

}
main .container_products{
    padding-bottom: 50px;
    position: relative;
    text-align: center;
}
main .container_products .title{
    margin-top:35px ;
}
main .container_products .products{
    top: 30px;
    font-size: 40px;
}
main .container_products .slider-container {
  gap: 90px;
}

main .container_products .slider{
    width: 25%;
}
main .container_products .slider .image-track {
  gap: 1px;
}

main .container_products .slider .image-track img {
  width: 145px; /* 4 imágenes visibles */
  height: 145px;

}
button.prev, button.next {
  padding: 13px;
  font-size: 20px;

} 

main .container_products .products-detail{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 60px 0px 60px 0px;
    width: 100%;
    gap: 30px;

}
main .container_products .products-detail .description{
    grid-column: 1/3;
    padding: 20px 0px 0px 0px;
    text-align: center;
    z-index: 4;

}
main .container_products .products-detail .description h1{
    text-shadow: 2px 4px 4px rgb(23, 23, 23);
    font-size: 30px;
}
main .container_products .products-detail .description .btn-comprar{
    background: rgb(190, 0, 0);
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 40px;
}
main .container_products .products-detail .buss{
    position: absolute;
    width: 100%;
    height: 320px;
    overflow: hidden;
    left: 0px;
    bottom: -35px;
}
main .container_products .products-detail .buss img{
    left: 0px;
    z-index: 1;
    position: absolute;
    z-index: 2;
    width: 125%;
    height: 300px;
    bottom: 30px;
}

main .container_novedades{
    justify-items: center;
    text-align: center;
    padding-bottom: 80px;
}
main .container_novedades h1{
    font-size: 40px;
    font-weight:900;
}

main .container_novedades .slider-container {
  width: 80%;

}


main .container_novedades .aside-track {
  display: flex;
  transition: transform 0.5s ease;
  gap: 7px;
}

main .container_novedades  .aside-track aside {
  min-width: calc(97% / 1); /* Muestra 3 elementos */
}
main .container_novedades  .aside-track aside img{
    width: 100%;
    border-radius: 7px;
    height: 250px;
}


main .container_novedades .slider-btn.prev {
  left: 30px;
}

main .container_novedades .slider-btn.next {
  right: 37px;
}


footer{
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px 30px;
    gap: 5px;
}
footer div{
    justify-content: center;
    margin: auto auto;
}
footer div span{

    text-align: left;
}
footer div p{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}



}